#centrado{
    text-align: center;
}
a:hover {
    color: hotpink;
  }
.texto{
    font-size: 40px;
    position: relative;
    right: -250px;
    top: -150px;
}
.posicion {
    position:relative;
    left: 480px;
    top: 600px;
    font-size: 35px;
  }
.tam{
  width: 100%;
  max-width: 350px;
  height: 300px;
} 
#pos {
  display: flex;
  align-items: center;
}